*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before, *:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active{outline: none;}
a:focus, a:active{outline: none;}
nav, footer, header, aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: -1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0; border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1, h2, h3, h4, h5, h6{font-size: inherit;font-weight: 400;}

body{
    background-color: rgb(24, 24, 24);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    position: relative;
    display: block;
}

.head1{
    font-size: 5vh;
    padding: 0.5vw;
    font-weight: 900;
    position: fixed;
    z-index: 2;
    background-color: rgb(34, 34, 34);
    width: 100%;
}

.hrefi{
    font-size: 1vh;
    position: relative;
    left: 50vw;
    top: -2.5vh;
    padding: 3px; 
}

.hom{
    padding: 1vw;
    color: #118DA8;
}

.epis{
    padding: 1vw;
    color: aliceblue;
}

.abou{
    padding: 1vw;
    color: aliceblue;
}

.cont{
    padding: 1vw;
    color: aliceblue;
}

.wrapper{
    position: absolute;
    left: 5vw;
    top: 15vh; 
    width: 28.5vw;
    height: 78.5vh;
    border-radius: 12px;
}
.imgg{
    width: 28.4vw;
    height: 70vh;
}
.text{
    width: 30vw;
    height: 60vh;
    font-size: 4vw;
    position: absolute;
    left: 50vw;
    top: 25vh;
    letter-spacing: 3.2px;
}

.next{
    letter-spacing: 3.2px;
}
.level{
    font-weight: 900;
}
.popop{
    font-size: 2vw;
    position: absolute;
    top: 40vh;
    left: 1vw;
}
.icon{
    position: absolute;
    top: 45vh;
    left: 0.8vw;
}

.head2{
    font-size: 3vw;
    margin-left: 3vw;
    margin-top: 12vh;
}
.btn1{
    color: aliceblue;
    font-size: 2vw;
    background-color: #118DA8;
    position: relative;
    bottom: 6vh;
    left: 60vw;
    border-radius: 3px;
    width: 10vw;
    height: 10vh;
    box-shadow: #58e4fd 2px 3px;
}
.btn1:hover{
    background-color: darkcyan;
    box-shadow: #58e4fd 1px 2px;
}
.btn1:active{
    background-color: rgb(10, 79, 79);
    box-shadow: #fafafa 0.2px 0.4px;
}
.content{
    background-color: black;
    border-radius: 32px;
    margin: 3vw;
    width: 80vw;
    height: 45vh;
    display: flex;
}
.content:hover{
    transition: 0.6s linear;
    box-shadow: 0 0 0.5vw whitesmoke;
}
.img1{
    height: 40vh;
    width: 25vw;
    margin: 1vw 2vw;
    border-radius: 8px;
}
.epis3{
    width: 22vw;
    color: #118DA8;
    font-size: 1.2vw;
    position: relative;
    top: 10vh;
    left: 2vw;
}
.textik1{
    font-size: 2.7vw;
    position: relative;
    top: 13vh;
    right: 2vw;
    width: 110vw;
}
.textik2{
    position: relative;
    top: 27vh;
    left: -25vw;
    width: 100vw;
    color: darkgray;
    font-size: 1.3vw;
}
.view{
    height: 10vh;
    width: 20vw;
    position: relative;
    top: 30vh;
    right: 5vw;
    color: aliceblue;
    background-color: rgb(28, 28, 28);
    border-radius: 3vw;
    box-shadow: #fafafa 0.3vw 0.3vh 0.3vw;
}
.view:hover{
    color: black;
    background-color: rgb(253, 248, 248);
    box-shadow: #0880ab 0.3vw 0.3vw;
}
.view:active{
    box-shadow: #0a9a9a 0.2vw 0.2vw;
}
.img2{
    height: 40vh;
    width: 25vw;
    margin: 1vw 2vw;
    border-radius: 8px;
}

.img3{
    height: 40vh;
    width: 25vw;
    margin: 1vw 2vw;
    border-radius: 8px;
}
.btn2{
    position: relative;
    top: 5vh;
    left: 5vw;
    width: 8vw;
    height: 2.5vh;
    background-color: rgb(54, 52, 52);
    color: #fafafa;
    border-radius: 0.2vw;
}
.btn3{
    font-size: 0.5vw;
    position: relative;
    top: 5vh;
    left: 5vw;
    width: 20vw;
    height: 2.5vh;
    background-color: rgb(54, 52, 52);
    color: #fafafa;
    border-radius: 0.2vw;
}
